@import './_variables';
@import './_app';
@import './nav';

* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-family: $bodyFont;
	display: flex;
	flex-direction: column;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.content {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1 auto;

	// move this to other scss file later when working on main content
	h1 {
		margin-top: 100px;
	}
}